{% extends 'base.html.twig' %}

{% block title %}New Infosms{% endblock %}

{% block body %}
    <h1>Create new Infosms</h1>

    {{ include('infosms/_form.html.twig') }}

    <a href="{{ path('infosms_index') }}">back to list</a>
{% endblock %}
