{% extends 'base.html.twig' %}

{% block title %}New Publication{% endblock %}

{% block body %}
	 {% form_theme  form 'bootstrap_4_layout.html.twig' %} 
	<section id="contact">
		<h3 class="section-title">Espace de diffusion</h3>
		<div class="row">
		
			<div class="col-md-8 col-md-push-2">
			
		           {{ include('publication/_form.html.twig') }}
		</div>
		
		</div>
		

   
	
	</section>
    
    <a href="{{ path('publication_index') }}">back to list</a>
{% endblock %}
